:root {
  --primary-color: #285e67;
  --poppins-semi-bold: "Poppins-semi-bold";
  /* --poppins-semi-bold: 'Poppins-SemiBold'; */
  --poppins-regular: "Poppins-Regular";
  --poppins-light: "Poppins-light";
  /* --font-family-poppins: 'Poppins', sans-serif; */
  --text-primary: #2a2a2a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

.hero-image img {
  width: 100%;
  display: block;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;

}

/*------------------------- navbar--------------- */

.health-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  color: white;
  padding: 32px 0;
  z-index: 999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  display: block;
}

.nav-linkList {
  display: flex;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-family: var(--poppins-regular);
  color: var(--text-primary);
  font-size: 16px;
  line-height: 24px;
  padding: 36px 40px;
}

.nav-link:last-child {
  padding-right: 0;
}


.nav-item:last-child {
  margin-right: 0;
}

.nav-item.active .nav-link {
  color: var(--primary-color);
}

.ham-menu {
  display: none;
  cursor: pointer;
  /* height: 50px; */
  width: 40px;
  position: relative;
}

.ham-menu span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: black;
  margin: 3px auto;
  transition: all 0.3s ease-in-out;
}

.ham-menu.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

section {
  padding: 52px 0;
  background: white;
}

/*------------------------- hero section--------------- */
.hero-section {
  margin-top: 95px;
  padding-top: 110px;
}

.hero-Container {
  width: 100%;
}

.hero-head {
  text-align: center;
}

.header-text {
  font-family: var(--poppins-semi-bold);
  font-size: 65px;
  line-height: 82px;
  color: var(--text-primary);
}

.header-para {
  font-family: var(--poppins-regular);
  font-size: 16px;
  line-height: 24px;
  color: var(--text-primary);
  margin-top: 17px;
}

.button {
  display: inline-block;
  padding: 16px 77px;
  font-family: var(--poppins-semi-bold);
  font-size: 21px;
  line-height: 24px;
  color: white;
  border-radius: 67px;
  /* cursor: pointer; */
  text-decoration: none;
}

.primaryBtn {
  background: var(--primary-color);
  margin-top: 33px;

}

.hero-images {
  width: 100%;
  display: flex;
  margin-top: 56px;
}

.hero-image2 {
  margin-left: 48px;
}

/* ---------------------------content-banner----------------------- */

.content-banner {
  width: 100%;
  background: #f4f4f4;
  padding: 0 112px;
  border-radius: 12px;
}

.contentCard {
  width: 260px;
  padding-bottom: 10px;
}

.contentPin {
  width: 58px;
  height: 57px;
  border-radius: 9px;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentDescription {
  font-family: var(--poppins-regular);
  font-size: 16px;
  line-height: 24px;
  color: var(--text-primary);
  margin-top: 20px;
}

.content-banner {
  display: flex;
  justify-content: space-between;
}

.left-content {
  width: 589px;
  padding: 51px 0;
}

.contentParent {
  display: flex;
  flex-wrap: wrap;
    justify-content: center;
  /* justify-content: space-between; */
}

.contentTitle {
  font-family: var(--poppins-semi-bold);
  font-size: 50px;
  line-height: 62px;
  padding-top: 48px;
}

.contentParent {
  margin-top: 61px;
}

.right-content {
  padding: 177px 0 0 191px;
}

/* -------------------produceContent ----------------------------*/

.produceContainer {
  display: flex;
}

.producePoints {
  display: flex;
  margin-bottom: 50px;
  /* align-items: center; */
}

.producePoints:last-child{
  margin-bottom: 0;
}

.produceRight {
  padding: 52px 0 0 0;
  margin-left: 53px;
}

.produceDiscription {
  margin-bottom: 50px;
}

.pointsDescription {
  margin-top: 0;
  /* margin-bottom: 50px; */
}

.producePoints:last-of-type .pointsDescription {
  margin-bottom: 0;
}

.produceIcon {
  margin-right: 23px;
}

.produceContent .contentTitle {
  padding-top: 0;
}

/* --------------reverse-row--------------- */

.content-banner.reverse-row {
  flex-direction: row-reverse;
}

.reverse-row .right-content {
  padding: 51px 0;
}

.reverse-row .contentPin {
  background: #ebbfae;
}

/*------------------------------ summary------------------ */
.summaryContainer{
  padding-bottom: 49px;
}

.summaryBackground {
  position: relative;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.summaryBgImg {
  width: 100%;
  height: auto;
  display: block;
}

.summaryInfo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
}


.floatContainer {
  width: 100%;
  max-width: 1165px;
  margin: -195px auto 0 auto;
  background: #fce2d7;
  padding: 119px 66px;
  position: relative;
  z-index: 2;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.floatElements {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.floatItem {
  width: 23.3%;
  text-align: center;
  margin: 20px 17px 0 0;
}

.floatTitle {
  font-family: var(--poppins-regular);
  font-size: 21px;
  line-height: 24px;
  color: var(--text-primary);
  margin-top: 11px;
}

.summaryTitle {
  font-family: var(--poppins-semi-bold);
  color: white;
  font-size: 38px;
  font-weight: 600;
  line-height: 36px;
}

.summaryDescription {
  font-family: var(--poppins-regular);
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 12px 0 28px 0;
}

.secondaryBtn {
  background: transparent;
  border: 2px solid white;
}

.summaryInfo {
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summaryPin {
  background: transparent;
  border: 2px solid white;
  border-radius: 9px;
  margin-bottom: 45px;
  padding: 17px 24px;
}

/* ----------------------footer -----------------------------*/


footer {
  background: var(--primary-color);
}

.footer-wrapper {
  width: 100%;
  padding: 78px 139px;
}

.footerLinks {
  display: flex;
  justify-content: space-between;
}

.footerLinkList {
  display: flex;
  list-style: none;
}

.footerLink {
  text-decoration: none;
  font-family: var(--poppins-regular);
  color: white;
  font-size: 16px;
  line-height: 24px;
  padding: 36px 20px;
}


.socials {
  display: flex;
  align-items: center;
  margin-top: 36px;
}

.socials a {
  margin-right: 24px;
}

.socials a:last-child {
  margin-right: 0;
}

.socials a img {
  display: block;
}





@media (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 16px;
    
  }

  .hero-section {
    margin-top: 100px;
    padding-top: 15px;
  }

  section {
    padding: 18px 0;
  }

  .health-nav {
    padding: 24px 0;
  }

  .nav-linkList {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(10px);
    background: rgba(43, 106, 113, 0.7);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 80px 24px 24px 24px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 1000;
  }

  .nav-link {
    color: white;
    padding: 0;
  }


  .nav-linkList.active {
    right: 0;
  }
  .nav-item{
    padding: 15px 0;
  }

  .health-nav{
    padding: 27px 0;
  }

  .ham-menu {
    z-index: 1100;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-nav {
    position: relative;
  }


  .hero-images {
    flex-direction: column;
  }

  .hero-image img {
    width: 100%;
    height: auto;
  }

  .hero-image2 {
    margin-left: 0;
    margin-top: 28px;
  }

  .header-text {
    font-size: 37px;
    line-height: 47px;
  }


  /* ------------content---------------- */

  .right-content {
    display: none;
  }

  .content-banner {
    padding: 0px 42px;
  }

  .contentParent {
    flex-direction: column;
  }

  .contentCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contentDescription {
    text-align: center;
  }

  .left-content {
    padding-top: 72px;
    padding-bottom: 31px;
  }

  .contentTitle {
    font-size: 39px;
    line-height: 52px;
    text-align: center;
    padding-top: 0;
  }

  .contentParent {
    margin-top: 40px;
  }

  .contentCard1 {
    margin-bottom: 28px;
  }

  /* --------------produce----------- */
  .produceContainer {
    flex-direction: column;
  }

  .produceLeft img {
    height: auto;
    width: 100%;
  }

  .produceRight {
    margin-left: 0;
    padding: 25px 0 14px 0;
  }

  .produceDiscription {
    margin-bottom: 26px;
  }

  .pointsDescription {
    text-align: left;
    color: var(--primary-color);
  }

  .produceLeft{
    max-width: 360px;
    margin: 0 auto;
  }

  /*------------------ summary--------------- */

  .summaryDescription {
    display: none;
  }

  .floatContainer {
    margin: -95px auto 0 auto;
    padding: 71px 26px;
    width: 100%;
    max-width: 298px;
  }

  .floatElements {
    flex-direction: column;
    align-items: center;
  }

  .summaryInfo {
    width: 100%;
    padding: 38px 19px;
  }

  .summaryPin img {
    width: 26px;
    height: 29px;
  }

  .summaryPin {
    padding: 9px 12px;
    margin-bottom: 13px;
  }

  .summaryTitle {
    margin-bottom: 13px;
    font-size: 21.33px;
    font-weight: 600;
    line-height: 31px;
    text-align: center;
  }

  .button {
    padding: 11px 62px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }


  .floatItem {
    width: 100%;
    margin-right: 0;
    margin-bottom: 49px;
  }

  .floatItem:last-child {
    margin-bottom: 0;
  }

  .floatIconImg {
    width: 60px;
    height: 60px;
  }


  /* ----------------footer--------------- */
  footer {
    margin-top: 18px;
  }

  .footer-wrapper {
    padding: 78px 100px;
  }

  .footerLinks {
    flex-direction: column;
  }

  .footerLink {
    /* padding: 0; */
    padding: 18px 20px 18px 0;
  }

  .footerLinkList {
    flex-wrap: wrap;
    width: 100%;
  }

  .footerLink-item {
    width: 50%;
    padding: 18px 20px 18px 0;
  }

  .socials {
    margin-top: 18px;
  }



}

@media (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 540px;

  }

  .hero-section {
    margin-top: 100px;
    padding-top: 25px;
  }

  section {
    padding: 18px 0;
  }

  .nav-linkList {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(10px);
    background: rgba(43, 106, 113, 0.7);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 80px 24px 24px 24px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 1000;
  }

  .nav-link {
    color: white;
    padding: 0;
    /* font-family: var(--poppins-semi-bold); */
  }

  .nav-linkList.active {
    right: 0;
  }

   .nav-item{
    padding: 15px 0;
  }

  .ham-menu {
    z-index: 1100;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .health-nav {
    padding: 27px 0;
  }

  .main-nav {
    position: relative;
  }

  /*------------ hero------------ */

  .hero-images {
    flex-direction: column;
  }

  .hero-image img {
    width: 100%;
    height: auto;
  }

  .hero-image2 {
    margin-left: 0;
    margin-top: 28px;
  }

  .header-text {
    font-size: 37px;
    line-height: 47px;
  }

  /* ------------content---------------- */

  .right-content {
    display: none;
  }

  .left-content {
    width: 100%;
    padding-top: 72px;
    padding-bottom: 31px;
  }

  .content-banner {
    padding: 0px 42px;
  }

  .contentParent {
    flex-direction: column;
  }

  .contentCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contentDescription {
    text-align: center;
  }

  .contentTitle {
    font-size: 39px;
    line-height: 52px;
    text-align: center;
    padding-top: 0;
  }

  .contentParent {
    margin-top: 40px;
  }

  .contentCard1 {
    margin-bottom: 28px;
  }

  /* --------------produce----------- */
  .produceContainer {
    flex-direction: column;
  }

  .produceLeft img {
    height: auto;
    width: 100%;
  }

  .produceRight {
    margin-left: 0;
    padding: 25px 0 14px 0;
  }

  .produceDiscription {
    margin-bottom: 26px;
  }

  .pointsDescription {
    text-align: left;
    color: var(--primary-color);
  }
   .produceLeft{
    max-width: 360px;
    margin: 0 auto;
  }

  /*------------------ summary--------------- */
 .summaryDescription {
    display: none;
  }

  .floatContainer {
    margin: -116px auto 0 auto;
    padding: 71px 26px;
    width: 100%;
    max-width: 454px;
  }

  .floatElements {
    /* flex-direction: column; */
    align-items: center;
  }

  .summaryInfo {
    width: 100%;
    padding: 38px 19px;
  }

  .summaryPin img {
    width: 26px;
    height: 29px;
  }

  .summaryPin {
    padding: 9px 12px;
    margin-bottom: 13px;
  }

  .summaryTitle {
    margin-bottom: 13px;
    font-size: 21.33px;
    font-weight: 600;
    line-height: 31px;
    text-align: center;
  }

  .button {
    padding: 11px 62px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }

  .floatItem {
    width: 50%;
    margin-right: 0;
    margin-bottom: 23px;
    margin-top: 0;
  }

  /* .floatItem:last-child {
    margin-bottom: 0;
  } */

  .floatIconImg {
    width: 60px;
    height: 60px;
  }

  /* ----------------footer--------------- */
  footer {
    margin-top: 18px;
  }

  .footerLinks {
    flex-direction: column;
  }

  .footerLink {
    /* padding: 0; */
    padding: 18px 20px 18px 0;
  }

  .footerLinkList {
    flex-wrap: wrap;
    width: 100%;
  }

  .footerLink-item {
    width: 50%;
    padding: 18px 20px 18px 0;
  }

  .socials {
    margin-top: 18px;
  }


}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }

  section {
    padding: 20px 0;
  }

  .hero-section {
    margin-top: 82px;
    padding-top: 20px;
  }


  .ham-menu {
    display: none;
  }

  .hero-image img {
    height: auto;
    /* width: 100%; */
  }

  .hero-image2 {
    margin-left: 28px;
  }

  .right-content {
    display: none;
  }

  .content-banner {
    display: block;
    padding: 0 64px;
  }

  .left-content {
    padding: 64px 0;
  }

  .contentTitle {
    padding: 0 0 10px 0;
    text-align: center;
    font-size: 45px;
  }

  .contentParent {
    margin-top: 69px;
  }

  .contentCard {
    width: 268px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px 32px 16px;
  }

  .contentDescription {
    text-align: center;
  }

  .header-text {
    font-size: 50px;
    line-height: 63px;
  }

  /* ----------------produceContent------------------------ */

  .produceContainer {
    flex-direction: column;
  }

  .produceLeft img {
    height: auto;
    width: 100%;
  }

  .produceRight {
    margin-left: 0;
    padding: 25px 0 14px 0;
  }

  .produceDiscription {
    margin-bottom: 26px;
  }

  .pointsDescription {
    text-align: left;
  }

  .produceLeft{
    max-width: 360px;
    margin: 0 auto;
  }

  /* ----------------summary ------------------ */

 .floatContainer {
    width: 100%;
    max-width: 605px;
    padding: 71px 66px;
    margin: -130px auto 0 auto;

  }

  .floatElements {
    flex-wrap: wrap;
  }

  .floatItem {
    width: 46%;
    margin-right: 0;
    padding: 15px;
    margin: 0px 17px 0 0;
  }

  .floatIconImg {
    width: 60px;
    height: 60px;
  }

  /* ------------------footer----------------------- */
  footer {
    margin-top: 20px;
  }

  .footerLinks {
    flex-direction: column;
  }

  .footerLinkList {
    margin-top: 36px;
  }

  .footerLink:first-child {
    padding-left: 0;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 884px;
    /* Larger tablets or smaller desktops */
  }

  section {
    padding: 20px 0;
  }

  .hero-section {
    margin-top: 82px;
    padding-top: 20px;
  }

  .right-content {
    display: none;
  }

  .content-banner {
    display: block;
    padding: 0 147px;
  }

  .left-content {
    padding: 64px 0;
  }

  .contentTitle {
    padding: 0 0 10px 0;
    font-size: 45px;
    text-align: center;
  }

  .contentParent {
    margin-top: 69px;
  }

  .contentCard {
    width: 268px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px 32px 16px;
  }

  .contentDescription {
    text-align: center;
  }

  .header-text {
    font-size: 50px;
    line-height: 63px;
  }

  /* ----------------produceContent------------------------ */

  .produceLeft img {
    width: 429px;
    height: auto;
  }

  .produceRight {
    padding: 0;
    margin-left: 25px;
  }

  .produceContent .contentTitle {
    padding: 0;
  }

  .produceContent .contentDescription {
    /* margin-top: 16px; */
    text-align: left;
  }

  .pointsDescription {
    /* margin-bottom: 30px; */
    margin-top: 0;
  }
  .producePoints{
    align-items: center;
    margin-bottom: 30px;
  }

  /* ----------------summary ------------------ */

  .floatContainer {
    width: 100%;
    max-width: 706px;
    padding: 71px 66px;
    /* margin: -77px auto 0 auto; */
  }

  .floatElements {
    flex-wrap: wrap;
  }

  .floatItem {
    width: 47%;
    margin-right: 0;
    padding: 20px;
    margin: 0 17px 0 0;
  }

  .floatIconImg {
    width: 60px;
    height: 60px;
  }

  /* ------------------footer----------------------- */
  footer {
    margin-top: 20px;
  }

  .footerLinks {
    flex-direction: column;
  }

  .footerLinkList {
    margin-top: 36px;
  }

  .footerLink:first-child {
    padding-left: 0;
  }


}

@media (min-width: 1200px) and (max-width: 1439px) {
  .container {
    max-width: 1300px;
    padding: 0 20px;
    /* Medium desktops */
  }
  .floatContainer{
        width: 100%;
    max-width: 1133px;
    padding: 99px 54px;
    margin: -177px auto 0 auto;
  }

}

@media (min-width: 1440px) and (max-width: 1919px) {
  .container {
    max-width: 1300px;
    /* Larger desktops, matching your Figma design */
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1300px;
    /* Same as the 1440px breakpoint to maintain consistency */
  }
}