:root {
  --inter-tight-medium: "InterTight-Medium";
  --inter-tight-bold: "InterTight-Bold";
  --inter-tight-regular: "InterTight-Regular";
  --inter-tight-semiBold: "InterTight-SemiBold";
  --color-black: #000;
  --primary-color: #8b5cf6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

.hero-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #fff; 
    background-image: url('../images/heroWrapper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 0;
}


/* .hero-wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #fff;
    overflow: hidden;
    z-index: 0;
}

.hero-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

} */

.container {
  width: 100%;
  max-width: 1490px;
  margin: 0 auto;
  padding: 0 20px;
}

/* -----------navbar---------- */

.tian-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  color: white;
  padding: 20px 0;
  z-index: 999;
  /* border: 1px solid black; */
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.nav-shadow {
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}




.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tian-links {
  display: flex;
  align-items: center;
}

.nav-linkList {
  display: flex;
  list-style: none;
  margin-right: 20px;
}

.nav-link {
  font-family: var(--inter-tight-medium);
  font-size: 20px;
  color: var(--color-black);
  text-decoration: none;
  line-height: 28px;
  padding: 20px;

  display: inline-block;
}

.nav-item{
  display: inline-block;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: var(--primary-color); 
  margin: 0;
  /* border-radius: 2px; */
  transition: width 0.5s;
}

.nav-item:hover .nav-link::after{
  width: 100%;
}

.nav-item:not(:last-child) {
  margin-right: 20px;
}

.btn {
  text-decoration: none;
  background: var(--primary-color);
  border-radius: 8px;
  color: white;
  font-family: var(--inter-tight-medium);
  font-size: 16px;
  display: inline-block;
  cursor: pointer;
}

.btn:hover {
  background: #653eff;
}

.contactBtn {
  margin-right: 20px;
  padding: 14px 24px;
  line-height: 16px;
  letter-spacing: 0.32px;
}

.darkModeBtn {
  /* margin-right: 20px; */
  padding: 11px;
  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.ham-menu {
  display: none;
  cursor: pointer;
  width: 40px;
  position: relative;
}

.ham-menu span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: black;
  margin: 3px auto;
  transition: all 0.3s ease-in-out;
}

.ham-menu.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}



/* -----------hero------------------ */

/* .watchBtn{
    background: transparent;
    color: black;
} */

/* .hero-section {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.hero-section {
  position: relative;
  padding: 139px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-top: 113px;
  /* border: 1px solid red; */
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: static;
}

.hero-content {
  width: 100%;
  max-width: 787px;
}

.hero-title {
  color: #262626;
  text-align: center;
  font-family: var(--inter-tight-bold);
  font-size: 80px;
  line-height: 88px;
}

.hero-subtitle {
  margin: 40px 0;
  color: #737373;
  text-align: center;
  font-family: var(--inter-tight-regular);
  font-size: 24px;
  line-height: 31px;
}

.heroButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroBtn {
  font-family: var(--inter-tight-semiBold);
  /* font-weight: 600; */
  line-height: 16px;
  letter-spacing: 0.32px;
  padding: 18px 32px;
}

.watchBtn {
  text-decoration: none;
  background: transparent;
  margin-top: 12px;
  color: var(--primary-color);
  font-family: var(--inter-tight-semiBold);
  display: flex;
  align-items: center;
  padding: 18px 32px;
  font-size: 16px;
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
  border: 2px solid white;
}

.watchBtn:hover{
  border: 2px solid #7b5bf7;
}

.watchBtn .fa-arrow-right {
  margin-left: 8px;
}

/*------------ cards-sections------------------ */
.cards-section {
  padding: 128px 0;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -8px;
}

.card {
  width: 31.9%;
  /* width: 486px; */
  padding: 48px 32px;
  background: black;
  border-radius: 10px;
  margin-bottom: 15px;
  display: flex;
  margin: 8px;
  cursor: pointer;
   transition: transform 0.3s;
}
.card:hover{
    transform: scale(1.04);
}


.card-title {
  font-family: var(--inter-tight-semiBold);
  font-size: 38px;
  line-height: 38px;
  color: white;
  margin-bottom: 10px;
}

.card-description {
  font-family: var(--inter-tight-regular);
  font-size: 24px;
  color: white;
  line-height: 28px;
}

.clipboard {
  margin-right: 10px;
  padding: 10px;
}

/* -----------popular course--------- */

.popular-course {
  padding: 128px 0;
  background: #FFFFFF;
}

.courseCard {
  width: 354px;
  padding: 16px;
  border: 1px solid #e5e5e5;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
   /* transition: transform 0.3s; */
   cursor: pointer;
}

.courseCard:hover .courseImg img{
    transform: scale(1.04);
}

.courseImg img{
     transition: transform 0.3s;
}

.courseDuration {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.courselabel {
  margin: 24px 0;
}

.courseInfo {
  display: flex;
  flex-direction: column;
  /* margin-top: auto; */
}

.courseTitle {
  font-family: var(--inter-tight-semiBold);
  font-size: 24px;
  line-height: 32px;
  margin-top: 24px;
}

.author {
  margin: 8px 0 20px 0;
  font-family: var(--inter-tight-regular);
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.28px;
  color: #737373;
}

.timer {
  margin-right: 5px;
}

.duration-label {
  font-family: var(--inter-tight-medium);
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.28px;
  margin-right: 2px;
}

.duration {
  font-family: var(--inter-tight-regular);
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.28px;
}

.courseDiscount {
  display: flex;
  margin-bottom: 8px;
}

.price {
  margin-right: 5px;
}

.price,
.value,
.discount,
.discount-label {
  font-family: var(--inter-tight-regular);
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.28px;
  color: #737373;
}

.buyBtn {
  width: 100%;
  padding: 10px 24px;
  line-height: 16px;
  letter-spacing: 0.32px;
}

.swiper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.contentTitle {
  font-family: var(--inter-tight-semiBold);
  font-size: 38px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 40px;
}

.courseSwiper .swiper-wrapper {
  display: flex;
  align-items: stretch;
}

.courseSwiper .swiper-slide {
  display: flex;
  height: auto;
}

/* -------------introsection --------------*/


.intro-section {
  position: relative;
  width: 100%;
}

.introText {
  width: 100%;
  max-width: 1094px;
}

.introTitle {
  font-family: var(--inter-tight-semiBold);
  color: white;
  text-align: center;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 32px;
}

.introDescription {
  color: white;
  text-align: center;
  font-family: var(--inter-tight-semiBold);
  font-size: 38px;
  line-height: 38px;
}

.intro-section .container {
  /* padding: 0; */
  /* padding: 165px 198px; */
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  z-index: 1;
}

.intro-section img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

/*----------- feature-section -------------*/

.feature-section {
  padding: 160px 0;
  background: #F5F5F5;
}

.featureContainer {
  width: 100%;
}

.feature {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.feature:last-child{
    margin-bottom: 0;
}

/* .featureImg {
  width: 500px;
  margin-right: 192px;
} */

.featureInfo {
  margin: auto 0;
  max-width: 671px;
  width: 100%;
  overflow: auto;
}

.feature-title {
  font-family: var(--inter-tight-semiBold);
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 20px;
}

.featureDescription {
  font-family: var(--inter-tight-regular);
  color: #737373;
  font-size: 30px;
  line-height: 39px;
}


/* ----------------footer------------------- */


.tian-footer {
  background: #FFFFFF;
  color: black;
  padding: 100px 0;
  font-family: var(--inter-tight-regular);
}

.footer-container {
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  /* padding: 0 24px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 40px; */
  flex-wrap: wrap;
  box-sizing: border-box; /* Add this */
  width: 100%; 
}

.footer-brand-social {
  display: flex;
  flex-direction: column;
  min-width: 372px;
}


.footer-social {
  display: flex;
  /* gap: 12px; */
  margin-top: 60px;
}

.footer-social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E5E5E5;
  background: white;
  border-radius: 10px;
  transition: background 0.2s;
  margin-right: 12px;
  padding: 6px;
}

.footer-social a:last-child{
  margin-right: 0;
}

.footer-social a:hover {
  background: #DDD6FE;
}
.footer-social a:hover svg path{
  fill: #4C1D95;
  stroke: #DDD6FE;
}


.footer-links {
  display: flex;
  flex-wrap: wrap;
}


.footer-col:not(:last-child){
   margin-right: 120px;
}

.footer-col h4 {
  font-size: 28px;
  line-height: 28px;
  font-family: var(--inter-tight-semiBold);
  margin-bottom: 50px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 30px;
  /* display: inline-block; */
}

.footer-col ul li:last-child {
  margin-bottom: 0;
}

.footer-col ul li a {
  color: #171717;
  font-family: var(--inter-tight-regular);
  text-decoration: none;
  font-size: 24px;
  line-height: 24px;
  opacity: 0.85;
  display: inline-block;
  transition: all 0.5s;
}

.footer-col ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: var(--primary-color);
  margin: 0;
  transition: width 0.3s;
}

.footer-col ul li a:hover::after,
.footer-col ul li a.active::after {
  width: 100%;
}




/* ------------scroll to top btn --------------*/

#button {
  display: inline-block;
  background-color: var(--primary-color);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
      display: flex;
    justify-content: center;
    align-items: center;
}

#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

.fa-arrow-up{
  font-size: 28px;
  color: white;
}


@media (max-width: 575px) {
  .tian-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(10px);
    background: #bda6f3;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 80px 24px 24px 24px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 1000;
  }

  .nav-linkList {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .contactBtn {
    margin: 15px 0;
  }

  .nav-link {
    color: white;
    padding: 0;
  }

  .tian-links.active {
    right: 0;
  }

  .nav-item {
    padding: 15px 0;
  }

  .tian-nav {
    padding: 20px 0;
  }

  .ham-menu {
    z-index: 1100;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-nav {
    position: relative;
  }

  /* ------------------------hero section---------------- */

  .hero-title {
    font-size: 38px;
    line-height: 38px;
  }

  .hero-subtitle {
    font-size: 20px;
    line-height: 26px;
  }

  .hero-container {
    top: 40%;
  }

  .hero-section {
    padding: 112px 0 94px 0;
    margin-top: 77px;
  }


  /*--------------------------- card-section --------------------------*/
  .cards-section {
    padding: 48px 0;
  }

  .card:not(:last-child) {
    margin-right: 0;
  }

  .card:last-child {
    margin-bottom: 0;
  }

  .card-title {
    font-size: 28px;
    line-height: 34px;
  }

  .card-description {
    font-size: 19px;
    line-height: 24px;
  }
  .card {
    width: 100%;
    margin: 15px 0;
    padding: 40px 25px;
  }

  /* --------------courses-section-------------- */
  .popular-course {
    padding: 48px 0;
  }

  .courseSwiper,
  .courseWrapper {
    display: block !important;
  }

  .swiper-slide,
  .courseCard {
    width: 100% !important;
    margin-bottom: 24px;
    display: block;
  }

  /*---------- intro-section ----------*/

  .introTitle {
    font-size: 30px;
    line-height: 38px;
  }

  .introDescription {
    font-size: 20px;
    line-height: 32px;
  }

   /*----------- feature-section -----*/

  .feature-section {
    padding: 128px 0;
}

.feature{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featureImg{
    text-align: center;
    margin-bottom: 12px;
}

.featureInfo{
    text-align: center;
}

.feature-image{
    width: 100%;
    height: auto;
    display: block;
}

.feature-title{
    font-size: 30px;
    line-height: 38px;
}

.featureDescription{
    font-family: var(--inter-tight-medium);
    font-size: 20px;
    line-height: 28px;
}


/*-------------------- footer------------------------ */
.footer-container{
  flex-direction: column;
  width: 100%;
}

.footer-brand-social{
  min-width: 100%;
  margin-bottom: 96px;
}

.footer-links{
  width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.footer-col:last-child{
  display: none;
}

/* .footer-col{
  width: 50%;
} */

.footer-social a svg{
  width: 28px;
  height: auto;
}

.footer-social a{
  margin-right: 6px;
}

.footer-col:not(:last-child){
  margin-right: 0;
}

.footer-col h4{
  font-size: 24px;
    line-height: 24px;
    margin-bottom: 40px;
}
.footer-col ul li {
    margin-bottom: 25px;
}
.footer-col ul li a{
  font-size: 18px;
    line-height: 18px;
}


}

@media (min-width: 576px) and (max-width: 767px) {
  /* .container {
    max-width: 100%;
    padding: 0 16px;
  } */

  .tian-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    backdrop-filter: blur(10px);
    background: #bda6f3;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 80px 24px 24px 24px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 1000;
  }

  .nav-linkList {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .contactBtn {
    margin: 15px 0;
  }

  .nav-link {
    color: white;
    padding: 0;
  }

  .tian-links.active {
    right: 0;
  }

  .nav-item {
    padding: 15px 0;
  }

  .tian-nav {
    padding: 20px 0;
  }

  .ham-menu {
    z-index: 1100;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-nav {
    position: relative;
  }

  /* ------------------------hero section---------------- */

  .hero-title {
    font-size: 38px;
    line-height: 38px;
  }

  .hero-subtitle {
    font-size: 20px;
    line-height: 26px;
  }

  .hero-container {
    top: 40%;
  }

  .hero-section{
    margin-top: 77px;
  }

  /*--------------------------- card-section --------------------------*/
  .cards-section {
    padding: 48px 0;
  }

  .card:not(:last-child) {
    margin-right: 0;
  }

  .card:last-child {
    margin-bottom: 0;
  }

  .card-title {
    font-size: 30px;
  }

  .card-description {
    font-size: 20px;
    line-height: 26px;
  }
  .card {
    width: 100%;
    margin: 15px 0;
  }

  /*--------------------- course-section---------------- */

  .courseSwiper,
  .swiper-wrapper {
    display: block !important;
  }

  .swiper-slide,
  .courseCard {
    width: 100% !important;
    margin-bottom: 24px;
    display: block;
  }

  /*---------- intro-section ----------*/

  .introTitle {
    font-size: 30px;
    line-height: 38px;
  }

  .introDescription {
    font-size: 20px;
    line-height: 32px;
  }

   /*----------- feature-section -----*/

  .feature-section {
    padding: 128px 0;
}

.feature{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featureImg{
    text-align: center;
    margin-bottom: 12px;
}

.featureInfo{
    text-align: center;
}

.feature-image{
    width: 100%;
    height: auto;
    display: block;
}

.feature-title{
    font-size: 30px;
    line-height: 38px;
}

.featureDescription{
    font-family: var(--inter-tight-medium);
    font-size: 20px;
    line-height: 28px;
}


/*-------------------- footer------------------------ */
.footer-container{
  flex-direction: column;
  width: 100%;
}

.footer-brand-social{
      margin-bottom: 96px;
}

.footer-links{
  width: 100%;
  flex-wrap: nowrap;
}

.footer-col:last-child{
  display: none;
}

.footer-col{
  width: 50%;
}


}

@media (min-width: 768px) and (max-width: 991px) {
  /* .container {
    max-width: 720px;
    
  } */


/* -----------------------------navbar ----------------------------*/
.nav-item:not(:last-child) {
    margin-right: 0px;
}

.nav-link{
  font-size: 15px;
}

/* -------------------------hero-section------------------------ */
.hero-title{
  font-size: 65px;
    line-height: 75px;
}

.hero-subtitle{
      font-size: 22px;
    line-height: 29px;
}

/* --------------------------card-section ---------------*/

  .card {
    width: 100%;
  }

  /* ------------intro-section -------------*/
  .introTitle {
    font-size: 42px;
    line-height: 38px;
  }

  .introDescription {
    font-size: 30px;
    line-height: 35px;
  }

   /*----------- feature-section -----*/

  .feature-section {
    padding: 128px 0;
}

.feature{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featureImg{
    text-align: center;
    margin-bottom: 12px;
}

.featureInfo{
    text-align: center;
}

/*-------------------- footer------------------------ */
.footer-container{
  flex-direction: column;
}

.footer-brand-social{
      margin-bottom: 96px;
}

.footer-col:not(:last-child){
    margin-right: 94px;
}


}

@media (min-width: 992px) and (max-width: 1199px) {
  /* .container {
    max-width: 865px;
    
  } */


  .card {
    width: 100%;
  }

  
  /* ------------intro-section -------------*/


  /*----------- feature-section -----*/

  .feature-section {
    padding: 128px 0;
}

.feature{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.featureImg{
    text-align: center;
    margin-bottom: 12px;
}

.featureInfo{
    text-align: center;
}


/*-------------------- footer------------------------ */
.footer-container{
  flex-direction: column;
}

.footer-brand-social{
      margin-bottom: 96px;
}




}

@media (min-width: 1200px) and (max-width: 1439px) {
  /* .container {
    max-width: 1490px;
    
  } */

  .card {
    width: 31.9%;
  }


  /* ---------footer -------------*/
  .footer-col:not(:last-child) {
    margin-right: 90px;
}
}

@media (min-width: 1440px) and (max-width: 1919px) {
  /* .container {
    max-width: 1490px;
    
  } */
}

@media (min-width: 1920px) {
  /* .container {
    max-width: 1490px;
    
  } */
}
